<section class="page-section account-section login-section bgc--cream">
  <div class="container container--full">
    <div class="row contents-row">
      <div class="col col-3 col-md-12 col__page-title bdr--right">
        <div class="sticky-contents">
          <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
          {% include 'customer-local-nav', active: 'password' %}
        </div>
      </div>
      <div class="col col-9 col-md-12 col__page-contents col__page-contents--reset-password">
        <div class="container">
          <h2 class="col__title">{{ 'customer.change_password.title' | t }}</h2>

          <div class="form-wrapper">
          {% form 'recover_customer_password' %}
  
            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}
  
            <dl class="dl--stack dl--form">
              <dt><label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label></dt>
              <dd>
                <input
                  type="email"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  class="input-full{% if form.errors %} input--error{% endif %}"
                  autocorrect="off"
                  autocapitalize="off"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                  {%- endif -%}
                  >
              </dd>
            </dl>
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}
  
            <p><button type="submit" class="button button--primary button--primary--dark-sand">{{ 'customer.recover_password.submit' | t }}</button></p>
  
            {% endform %}
          </div>
        </div>       
      </div>
    </div>
  </div>
</section>

