<section class="page-section account-section bgc--cream">
  <div class="container container--full">
    <div class="row contents-row">
      <div class="col col-3 col-md-12 col__page-title bdr--right">
        <div class="sticky-contents">
          <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
          {% include 'customer-local-nav', active: 'addresses' %}
        </div>
      </div>  
      <div class="col col-9 col-md-12 col__page-contents">
        <div class="container">

          <div class="addresses">

            <h2 class="block__title">Your Addresses</h2>

            {% paginate customer.addresses by 20 %}


              {% comment %}
                Add address form, hidden by default
              {% endcomment %}
              <div id="AddressNewForm" class="form-vertical address-edit hide">
                {% form 'customer_address', customer.new_address, class: 'h-adr' %}
                  <h2 class="account-subtitle">{{ 'customer.addresses.add_new' | t }}</h2>

                  <div class="row">     
                    <div class="col col-12">                       
                      <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                      <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                    </div>                                        
                  </div>

                  <div class="row">     
                    <div class="col col-12">
                      <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                      <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                    </div>                                           
                  </div>                  
                  
                  <div class="row">
                    <div class="col col-12">
                      <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                      <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" class="p-street-address">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-12">
                      <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                      <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-12">
                      <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                      <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" class="p-locality">
                    </div>
                    <!-- <div class="col">
                      <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                      <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
                    </div> -->
                  </div>

                  <div class="row">
                    <div class="col col-12">
                      <div id="AddressProvinceContainerNew" style="display:none">
                        <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                        <div class="custom-select">
                          <div class="custom-select__inner">
                            <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1" class="p-region"></select>
                            <span class="custom-select__arrow"></span>
                          </div>
                        </div>
                      </div>    
                    </div>                    
                  </div>

                  <div class="row">
                    <div class="col col-12">
                        <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                        <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" class="p-postal-code">
                    </div>
                  </div>


                  <div class="row" {% if request.locale.iso_code == 'ja' %}style="display:none;"{% endif %}>
                    <div class="col col-12">
                      <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                      <div class="custom-select">
                        <div class="custom-select__inner">

                          {% if request.locale.iso_code == 'ja' %}

                          <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">
                            <option value="Japan" data-provinces="[[&quot;Hokkaidō&quot;, &quot;北海道&quot;],[&quot;Aomori&quot;, &quot;青森県&quot;],[&quot;Iwate&quot;, &quot;岩手県&quot;],[&quot;Miyagi&quot;, &quot;宮城県&quot;],[&quot;Akita&quot;, &quot;秋田県&quot;],[&quot;Yamagata&quot;, &quot;山形県&quot;],[&quot;Fukushima&quot;, &quot;福島県&quot;],[&quot;Ibaraki&quot;, &quot;茨城県&quot;],[&quot;Tochigi&quot;, &quot;栃木県&quot;],[&quot;Gunma&quot;, &quot;群馬県&quot;],[&quot;Saitama&quot;, &quot;埼玉県&quot;],[&quot;Chiba&quot;, &quot;千葉県&quot;],[&quot;Tōkyō&quot;, &quot;東京都&quot;],[&quot;Kanagawa&quot;, &quot;神奈川県&quot;],[&quot;Niigata&quot;, &quot;新潟県&quot;],[&quot;Toyama&quot;, &quot;富山県&quot;],[&quot;Ishikawa&quot;, &quot;石川県&quot;],[&quot;Fukui&quot;, &quot;福井県&quot;],[&quot;Yamanashi&quot;, &quot;山梨県&quot;],[&quot;Nagano&quot;, &quot;長野県&quot;],[&quot;Gifu&quot;, &quot;岐阜県&quot;],[&quot;Shizuoka&quot;, &quot;静岡県&quot;],[&quot;Aichi&quot;, &quot;愛知県&quot;],[&quot;Mie&quot;, &quot;三重県&quot;],[&quot;Shiga&quot;, &quot;滋賀県&quot;],[&quot;Kyōto&quot;, &quot;京都府&quot;],[&quot;Ōsaka&quot;, &quot;大阪府&quot;],[&quot;Hyōgo&quot;, &quot;兵庫県&quot;],[&quot;Nara&quot;, &quot;奈良県&quot;],[&quot;Wakayama&quot;, &quot;和歌山県&quot;],[&quot;Tottori&quot;, &quot;鳥取県&quot;],[&quot;Shimane&quot;, &quot;島根県&quot;],[&quot;Okayama&quot;, &quot;岡山県&quot;],[&quot;Hiroshima&quot;, &quot;広島県&quot;],[&quot;Yamaguchi&quot;, &quot;山口県&quot;],[&quot;Tokushima&quot;, &quot;徳島県&quot;],[&quot;Kagawa&quot;, &quot;香川県&quot;],[&quot;Ehime&quot;, &quot;愛媛県&quot;],[&quot;Kōchi&quot;, &quot;高知県&quot;],[&quot;Fukuoka&quot;, &quot;福岡県&quot;],[&quot;Saga&quot;, &quot;佐賀県&quot;],[&quot;Nagasaki&quot;, &quot;長崎県&quot;],[&quot;Kumamoto&quot;, &quot;熊本県&quot;],[&quot;Ōita&quot;, &quot;大分県&quot;],[&quot;Miyazaki&quot;, &quot;宮崎県&quot;],[&quot;Kagoshima&quot;, &quot;鹿児島県&quot;],[&quot;Okinawa&quot;, &quot;沖縄県&quot;]]">日本</option>
                          </select>
                          <span class="p-country-name" style="display:none;">Japan</span>

                          {% else %}
                          <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                          {% endif %}

                          <span class="custom-select__arrow"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                

                  <div class="row">
                    <div class="col col-12">
                      <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                      <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-12">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                    </div>
                  </div>

                  <ul class="row action-row">                 
                    <li class="col col-6"><button type="button" class="button button--primary button--primary--dark-sand address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button></li>
                    <li class="col col-6"><button type="submit" class="button button--primary button--primary--dark-sand" >{{ 'customer.addresses.add' | t }}</button></li>
                  </ul>
                  
                {% endform %}

              </div>

              {% comment %}
                List all customer addresses with a unique edit form.
                Also add pagination in case they have a large number of addresses
              {% endcomment %}
              <ul id="registered-addresses" class="address-list">
                {% for address in customer.addresses %}
                  <li class="address-list__item">
                    <div class="address-detail">
                      {% if address == customer.default_address %}
                      <h2 class="address-list__title">{{ 'customer.addresses.default' | t }}</h2>
                      {% endif %}

                      <div class="address-list__item-detail">

                        {%- if request.locale.iso_code == 'ja' -%}                         
                        <p>
                        {%- if address.last_name != blank or address.first_name != blank -%}
                        {{ address.last_name }} {{ address.first_name }} <br>
                        {%- endif -%}
                        {%- if address.zip != blank -%}
                        {{ address.zip }} <br>
                        {%- endif -%}
                        {%- if address.province != blank -%}                        
                        {{ address.province }}
                        {%- endif -%}
                        {%- if address.city != blank -%}
                        {{ address.city }} <br>
                        {%- endif -%}
                        {%- if address.address1 != blank -%}
                        {{ address.address1 }} <br>
                        {%- endif -%}
                        {%- if address.address2 != blank -%}
                        {{ address.address2 }} <br>
                        {%- endif -%}
                        {%- if address.phone != blank -%}
                        {{ address.phone }}
                        {%- endif -%}
                        </p>
                        {%- else -%}

                          {{ address | format_address }}
                        
                        {%- endif -%}
                      
                      </div>

                      <ul class="row action-row">
                        <li class="col col-6">
                          <button
                            type="button"
                            class="button button--primary button--primary--dark-sand address-delete"
                            data-target="{{ address.url }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                          >
                            {{ 'customer.addresses.delete' | t }}
                          </button>
                        </li>                
                        <li class="col col-6">
                          <button
                            id="EditFormButton_{{ address.id }}"
                            type="button"
                            class="button button--primary button--primary--dark-sand address-edit-toggle"
                            data-form-id="{{ address.id }}"
                            aria-owns="EditAddress_{{ address.id }}"
                            aria-expanded="false"
                          >
                            {{ 'customer.addresses.edit' | t }}
                          </button>
                        </li>
                      </ul>
                    </div>

                    <div id="EditAddress_{{ address.id }}" class="form-vertical address-edit hide">
                      {% form 'customer_address', address, class: "h-adr" %}

                        <h2 class="account-subtitle">{{ 'customer.addresses.edit_address' | t }}</h2>

                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col col-12">                                
                            <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                            <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                          </div>
                        </div>       
                        
                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" class="p-street-address">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                          </div>
                        </div>                        

                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" class="p-locality">                    
                          </div>
                        </div>  

                        <div class="row">
                          <div class="col col-12">
                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                              <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                              <div class="custom-select">
                                <div class="custom-select__inner">
                                  <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1" class="p-region"></select>
                                  <span class="custom-select__arrow"></span>
                                </div>
                              </div>
                            </div>                    
                          </div>
                        </div>
                      

                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" class="p-postal-code">
                          </div>
                        </div>                        

                        <div class="row" {% if request.locale.iso_code == 'ja' %}style="display:none;"{% endif %}>
                          <div class="col col-12">
                            <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                            <div class="custom-select">
                              <div class="custom-select__inner">

                                {% if request.locale.iso_code == 'ja' %}

                                <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">
                                  <option value="Japan" data-provinces="[[&quot;Hokkaidō&quot;, &quot;北海道&quot;],[&quot;Aomori&quot;, &quot;青森県&quot;],[&quot;Iwate&quot;, &quot;岩手県&quot;],[&quot;Miyagi&quot;, &quot;宮城県&quot;],[&quot;Akita&quot;, &quot;秋田県&quot;],[&quot;Yamagata&quot;, &quot;山形県&quot;],[&quot;Fukushima&quot;, &quot;福島県&quot;],[&quot;Ibaraki&quot;, &quot;茨城県&quot;],[&quot;Tochigi&quot;, &quot;栃木県&quot;],[&quot;Gunma&quot;, &quot;群馬県&quot;],[&quot;Saitama&quot;, &quot;埼玉県&quot;],[&quot;Chiba&quot;, &quot;千葉県&quot;],[&quot;Tōkyō&quot;, &quot;東京都&quot;],[&quot;Kanagawa&quot;, &quot;神奈川県&quot;],[&quot;Niigata&quot;, &quot;新潟県&quot;],[&quot;Toyama&quot;, &quot;富山県&quot;],[&quot;Ishikawa&quot;, &quot;石川県&quot;],[&quot;Fukui&quot;, &quot;福井県&quot;],[&quot;Yamanashi&quot;, &quot;山梨県&quot;],[&quot;Nagano&quot;, &quot;長野県&quot;],[&quot;Gifu&quot;, &quot;岐阜県&quot;],[&quot;Shizuoka&quot;, &quot;静岡県&quot;],[&quot;Aichi&quot;, &quot;愛知県&quot;],[&quot;Mie&quot;, &quot;三重県&quot;],[&quot;Shiga&quot;, &quot;滋賀県&quot;],[&quot;Kyōto&quot;, &quot;京都府&quot;],[&quot;Ōsaka&quot;, &quot;大阪府&quot;],[&quot;Hyōgo&quot;, &quot;兵庫県&quot;],[&quot;Nara&quot;, &quot;奈良県&quot;],[&quot;Wakayama&quot;, &quot;和歌山県&quot;],[&quot;Tottori&quot;, &quot;鳥取県&quot;],[&quot;Shimane&quot;, &quot;島根県&quot;],[&quot;Okayama&quot;, &quot;岡山県&quot;],[&quot;Hiroshima&quot;, &quot;広島県&quot;],[&quot;Yamaguchi&quot;, &quot;山口県&quot;],[&quot;Tokushima&quot;, &quot;徳島県&quot;],[&quot;Kagawa&quot;, &quot;香川県&quot;],[&quot;Ehime&quot;, &quot;愛媛県&quot;],[&quot;Kōchi&quot;, &quot;高知県&quot;],[&quot;Fukuoka&quot;, &quot;福岡県&quot;],[&quot;Saga&quot;, &quot;佐賀県&quot;],[&quot;Nagasaki&quot;, &quot;長崎県&quot;],[&quot;Kumamoto&quot;, &quot;熊本県&quot;],[&quot;Ōita&quot;, &quot;大分県&quot;],[&quot;Miyazaki&quot;, &quot;宮崎県&quot;],[&quot;Kagoshima&quot;, &quot;鹿児島県&quot;],[&quot;Okinawa&quot;, &quot;沖縄県&quot;]]">日本</option>

                                </select>

                                <span class="p-country-name" style="display:none;">Japan</span>

                                {% else %}

                                <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>

                                {% endif %}


                                <span class="custom-select__arrow"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col col-12">
                            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                            <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col col-12">                                
                            <label for="address_default_address_{{ form.id }}"><span class="checkbox">{{ form.set_as_default_checkbox }}</span>{{ 'customer.addresses.set_default' | t }}</label>
                          </div>
                        </div>


                        <!-- <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                        <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization"> -->

                        
                        <ul class="row action-row">
                          <li class="col col-6">
                            <button type="button" class="button button--primary button--primary--dark-sand address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                          </li>
                          <li class="col col-6">
                            <button type="submit" class="button button--primary button--primary--dark-sand">{{ 'customer.addresses.update' | t }}</button>
                          </li>                  
                        </ul>

                      {% endform %}
              
                    </div>
                  </li>
                {% endfor %}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% include 'pagination', paginate: paginate %}
              {%- endif -%}

            {% endpaginate %}

              
            <ul id="add-address" class="address-list address-list--new">
              <li class="address-list__item">
                <div class="address-detail">
                  {% if customer.addresses.size == 0 %}
                  <h2 class="address-list__title">{{ 'customer.addresses.no_address' | t }}</h2>
                  {% endif %}
                  <ul class="row action-row">
                    <li class="col col-12">
                      <button type="button" class="button button--primary button--primary--dark-sand address-new-toggle" id="AddressNewButton" aria-expanded="false" aria-owns="AddressNewForm">{{ 'customer.addresses.add_new' | t }}</button>
                    </li>
                  </ul>   
                </div>                 
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>