<section class="page-section login-section bgc--cream">
  <div class="container container--full">
    <div class="row row__page-wrapper">
      <div class="col col-6 col-md-12 col--log-in bdr--right">
        <div class="col__container">
          <div class="account-form-wrapper login-form-wrapper">
            <h1 class="col__title">{{ 'customer.reset_password.title' | t }}</h1>
            <p class="col__headline">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            <div class="form-wrapper">
  
              {% form 'reset_customer_password' %}
  
                {%- if form.errors -%}
                  <div class="form-message form-message--error">
                    {{ form.errors | default_errors }}
                  </div>
                {%- endif -%}
  
                <dl class="dl--stack dl--form">
                  <dt><label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label></dt>
                  <dd>
                    <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
                  </dd>
                  <dt>
                    <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
                  </dt>
                  <dd>
                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
                  </dd>
                </dl>
  
                <button type="submit" class="button button--primary button--primary--dark-sand text-center">{{ 'customer.reset_password.submit' | t }}</button>
              {% endform %}  

            </div> 
          </div>
        </div>
      </div>


    </div>
  </div>
</section>







