<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"blackstock-weber.myshopify.com",ver:"2.12",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","text/plain")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

	<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicon.png' | asset_url }}">

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>



  {{ content_for_header }}

  {% include 'css-variables' %}

  <style>
    html {
      height: 100%;
      background-color: #fbf8ec;
    }
  </style>
  

  {{ 'style.css' | asset_url | stylesheet_tag }}  

</head>
{%- assign body_class = template | split: '.' || first | split: '/' || first -%}

<body class="tmpl--{{ body_class }}
  {%- if body_class == 'page' -%}
    {%- if template.suffix -%}
      tmpl--page--{{ template.suffix }}
    {%- endif -%}
    {%- if page.handle -%}
      tmpl--page--{{ page.handle }}
    {%- endif -%}  
  {%- endif -%}
  {%- if shop.address.locale == 'US' -%}
    tmpl--site--{{ shop.address.locale | downcase }}
  {%- endif -%}" >
  <div class="password-page">
    <header>
      <div class="container">
        <h1>{%- include 'markaware_logo' -%}</h1>
      </div>
    </header>
    <div class="password-main" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="password__login-form">
    <div class="password-content">
      <h2 class="password__form-heading h4" id="password-modal-heading">
        {{ 'general.password_page.login_form_heading' | t }}
      </h2>
    </div>

    {% form 'storefront_password', class: 'form-single-field' %}
      {%- assign formId = 'PasswordLoginForm' -%}
      <div class="input-group {% if form.errors %}input-group--error{% endif %}">
        <input type="password" name="password"
          id="Password"
          class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          data-login-field
          autocomplete="off"
          aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
          {% if form.errors %}
            data-error="password"
            aria-invalid="true"
          {%- endif -%}
        >
        <span class="input-group__btn">
          <button type="submit" name="commit" class="button button--secondary">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </span>
      </div>
      {%- if form.errors -%}
        <span id="{{ formId }}-password-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          <span>{{ form.errors.messages['form'] }}</span>
        </span>
      {%- endif -%}
    {% endform %}
    <p class="password-content">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>

  <script>
    if(location.hash == '#login'){
      document.getElementById('password__login-form').classList.add('visible');
      document.getElementById('maintenance-message').classList.add('hidden');
    }
    let errors = document.getElementsByClassName('input-error-message');
    if(errors.length){
      location.hash = '#login';
      document.getElementById('password__login-form').classList.add('visible');
      document.getElementById('maintenance-message').classList.add('hidden');      
    }

  window.addEventListener('hashchange', function() {
    if(location.hash == '#login'){
      document.getElementById('password__login-form').classList.add('visible');
      document.getElementById('maintenance-message').classList.add('hidden');
    }    
  }, false);

  </script>

</body>
</html>
