<style>

  .section__title.section {
    background-color:#FDF4EA;
  }
  .section__title .brand-description {
    font-size:12px;
    font-family:Scto-Grotesk-A-Regular, Yu Gothic Medium, Hiragino Kaku Gothic ProN, YuGothic;
    line-height:150%;
  }

  .card-description {
    font-size:11px;
    margin-top:6px;
    line-height:140%;
    color:#684A26;
  }
  a .card__title {
    color:#684A26;
  }
  
</style>

{% if section.settings.display_four_brands == true %}
  
  <section class="projects-section bgc--off-white">
    <div class="container container--full">
      {% if section.settings.section_title != blank or section.settings.section_description != blank %}
        <div class="section__title section">
          {% if section.settings.section_title != blank %}
            <h2 class="brand-title">{{ section.settings.section_title }}</h2>
          {% endif %}
          {% if section.settings.section_description != blank %}
            <p class="brand-description">{{ section.settings.section_description }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="row cards posts">
        
        {% for block in section.blocks %}
        <div class="col col-3 col-md-4 col-sm-6 card post">
          <a href="{{block.settings.brand-link.url}}">
            <div class="card-content">
              {% if block.settings.card_image %}
                <picture>
                <img src="{{ block.settings.card_image | img_url: '1000x' }}" alt="{{ block.settings.card_title }}" class="card-image">
                </picture>
              {% endif %}
              {% if block.settings.card_title %}
                <h3 class="card__title">{{ block.settings.card_title }}</h3>
              {% endif %}
              {% if block.settings.card_description %}
                <p class="card-description">{{ block.settings.card_description }}</p>
              {% endif %}
            </div>
          </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
{% endif %} 

{% schema %}
{
  "name": "Four Brands",
  "settings": [
    {
        "type": "checkbox",
        "id": "display_four_brands",
        "label": {
          "en": "Display Four Brands section"
        },
        "default": true
      },      
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Custom Cards Section"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Section Description",
      "default": "Four Brands, One Creative Legacy"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_description",
          "label": "Card Description"
        },
        {
          "type": "collection",
          "id": "brand-link",
          "label": "Brand Collection (Link)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Four Brands Cards",
      "category": "Four Brands Sections"
    }
  ]
}
{% endschema %}