<!-- Link the CSS file for the notifications bar section -->
<link rel="stylesheet" href="{{ 'notifications-bar.css' | asset_url }}" type="text/css" />

{% if section.settings.message %}

  {% if section.settings.home_page_only == false or template.name == 'index' %}

    <style>
      .notifications-bar {
        background-color: {{ section.settings.color_bg }};
      }
      .notifications-bar--link:link,
      .notifications-bar--link:visited {
        color: {{ section.settings.color_text }};
      }
      .notifications-bar--link:hover,
      .notifications-bar--link:active {
        color: {{ section.settings.color_text }} !important;
      }

      .notifications-bar__message {
        color: {{ section.settings.color_text }};
      }
      .notifications-bar svg path {
        fill: {{ section.settings.color_text }};
      }       
    </style>

    <div class="notifications-bar">
      <div class="container container--fluid">
        <div class="swiper-container" data-swiper-direction="vertical" data-swiper-loop="true" data-swiper-auto="5000">
        <div class="swiper-wrapper">
        {% for block in section.blocks %}
        
          {% unless block.settings.text == blank %}
            {% if block.settings.link == blank %}
              <div class="swiper-slide notifications-bar__item"><p class="notifications-bar__message">{{ block.settings.text | escape }}</p></div>
            {% else %}
              <div class="swiper-slide notifications-bar__item"><p class="notifications-bar__message"><a href="{{ block.settings.link }}" class="notifications-bar--link">{{ block.settings.text | escape }}</a></p></div>
            {% endif %}
          {% endunless %}  

        {% endfor %}
        </div>
        </div>
        <!-- hide button
        <button type="button" class="notifications-bar__close" id="NotificationPromoClose">
          {% include 'icon_cross_01' %}
        </button>
        -->
      </div>
    </div>

  {% endif %}
{% endif %}

{% schema %}
{
  "name": {
    "en": "Notifications",
    "ja": "お知らせ"
  },  
  "settings": [  
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "hi": "घोषणा डिखाएं",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "ms": "Tunjukkan pengumuman",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain kotisivu",
        "fr": "Page d'accueil uniquement",
        "hi": "केवल होमपेज",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "ms": "Halaman utama sahaja",
        "nb": "Kun på startsiden",
        "nl": "Alleen startpagina",
        "pt-BR": "Apenas página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "notifications",
      "name": {
        "en": "Notifications",
        "ja": "お知らせ"
      },      
      "limit": 4,
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": {
            "en": "Text",
            "ja": "テキスト"
          }
        },
        {
          "id": "link",
          "type": "url",
          "label": {
            "en": "Link",
            "ja": "リンク"
          }
        }        
      ]
    }
  ]
}
{% endschema %}
