<div class="tmpl--password">
  <section class="contents-section">
    <div class="container container--fluid">
  
      <div class="row row--reverse">
        <div class="col col-6 col-md-12 col--image">
          <div class="swiper-container" data-swiper-effect="fade" data-swiper-auto="true" data-swiper-navigation="true">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook1.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook2.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook3.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook4.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook5.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook6.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook7.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook8.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook9.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook10.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook11.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook12.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook13.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook14.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/2337/0257/files/220310_Lookbook15.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-navigation">
              <button type="button" class="swiper-button swiper-button-prev"></button>
              <button type="button" class="swiper-button swiper-button-next"></button>    
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="col col-6 col-md-12 col--content">
          <p>Our next drop is TODAY @ 12 EST… <br>
            Unit then, enjoy the visuals…</p>
          <p>Peace and Love.</p>

          <div class="newsletter-box">
            <p class="newsletter-box__title">NEWSLETTER</p>
            <div class="newsletter-box__container">
  
                {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p class="note form-success">
      
                    {% if settings.signup_form_success_message != blank %}
                      {{ settings.signup_form_success_message }}
                    {% else %}
                      {{ 'general.newsletter_form.confirmation' | t }}
                    {% endif %}            
      
                  </p>
                {% else %}
      
                  <div class="newsletter-box__field-row">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="hidden" name="customer[accepts_marketing]" value="true" id="marketing">
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                    <button type="submit">SUBMIT</button>
                  </div>
      
                  
      
                  <div class="newsletter-box__result">
                    
                  </div>
      
                {% endif %}
              {% endform %}
  
            </div>
          </div>
        </div>

      </div>
  
    </div>
  </section>               
</div>